<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Simplified way of finding a tutor">
  <meta name="author" content="BetterBrain Team">
  <link rel="icon" href="./assets/img/logo.png" type="image/gif" sizes="32x16">

  <title>Better Brains</title>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:300,400,700">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.0-rc.2/dist/css/foundation.min.css" integrity="sha256-iJQ8dZac/jUYHxiEnZJsyVpKcdq2sQvdA7t02QFmp30= sha384-SplqNBo/0ZlvSdwrP/riIPDozO5ck8+yIm++KVqyMAC53S6m3BaV+2OLpi7ULOOh sha512-ho6hK4sAWdCeqopNZWNy1d9Ok2hzfTLQLcGSr8ZlRzDzh6tNHkVoqSl6wgLsqls3yazwiG9H9dBCtSfPuiLRCQ=="
    crossorigin="anonymous">
  <link rel="stylesheet" href="./assets/styles/calender.css">
  <link rel="stylesheet" href="./assets/styles/grid-layout.css">
  <link rel="stylesheet" href="./assets/styles/styles.css">

</head>

<body>

  {{> index/header}}
  
  {{{body}}}

  <footer class="grid-container full">
    <div class="grid-x grid-padding-x">
      <div class="cell auto">
        <div class="footer-links" id="api-links">
          <h4>API Links</h4>
          <a href="">Tutors</a>
          <a href="">Students</a>
        </div>
      </div>
      <div class="cell auto">
        <div class="footer-links" id="created-by">
          <h4>Created By:</h4>
          <a href="https://github.com/prestonedwards3" target="blank">Preston</a>
          <a href="https://github.com/medwasfy" target="blank">Med</a>
          <a href="https://github.com/smpldvd" target="blank">David</a>
          <a href="https://github.com/RajBommala" target="blank">Raj</a>
          <a href="https://github.com/jscottwillems" target="blank">Josh</a>
          <a href="https://github.com/mel177" target="blank">Melinh</a>
        </div>
      </div>
    </div>
    <div class="cell">
      <hr style="max-width: 100vw">
    </div>
    <div class="cell">
      <p id="copy">&copy;Copyright 2018 Better Brains</p>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.0-rc.2/dist/js/foundation.min.js" integrity="sha256-G6jsRyH1fxbsvFIXSCuwYmI1aIDYBa28xscrvmYjJy0="
    crossorigin="anonymous"></script>
  <script src="./assets/js/modal.js"></script>
  <script>
    $(document).foundation();
  </script>
</body>

</html>