<div class="container">

    <div class="profileSideBar">
        <a class="sideLink" href="/">Back To Seach</a>
        <br>
        <a class="sideLink" href="/tutors/blank">Profile Page</a>
        <br>
        <a class="sideLink" href="/faq">FAQs</a>
    </div>

    <div class="faqsContainer">

        <h2>FAQ's</h2>
        <hr>
        <b>Q : </b><p>What does this app do?</p>
        <b>A : </b><p>This app was designed to make it easy for anyone to become a tutor and just as easy to find a tutor for your self.</p>
        <hr>
        <b>Q : </b><p>How do I use this app?</p>
        <b>A : </b><p>Search any subject you may need help in and you'll be given a list of tutors to choose from. When you've found a tutor you wish to use simply send them a message. Once you've made contact you can use the calendar to schedule an online tutoring session.</p>
        <hr>
        <b>Q : </b><p>How much does it cost to get a tutor?</p>
        <b>A : </b><p>This app was built around the idea of spreading knowledge. At this time tutoring is done on a volunteer basis. Anyone willing to lend a hand is welcome to sign up as one of our valued tutors.</p>
        <hr>
        <b>Q : </b><p>How do I know my tutor will be able to help me?</p>
        <b>A : </b><p>Users are able to rate their tutors performance at the end of their scheduled session. By displaying our tutors rating you can rest assured knowing your tutor has a history of helping others succeed.</p>
        <hr>
        <b>Q : </b><p>How can I become a tutor?</p>
        <b>A : </b><p>Simply fill out the tutor sign-up form and submit. You can then view your home page and even see your information displayed in the search results.</p>
        <br>

    </div>

</div>