<head>
    <title id="homePage">BetterBrain | Home</title>
</head>
<main class="display">

    <div class="sub-text">
        <p>A better way to find a tutor.</p>
    </div>

    <form action="/results" method="POST">
        <div class="input-group input-group-rounded">
            <input class="input-group-field" name="subject" type="search" placeholder="Enter a subject (ie. Math)" required>
            <select id="selectMenu">
                <option value="college">College</option>
                <option value="high">High School</option>
                <option value="middle">Middle School</option>
            </select>
            <div class="input-group-button">
                <input type="submit" class="button secondary" value="Search">
            </div>
        </div>
    </form>

</main>

<script src="./assets/js/index.js" type="text/javascript"></script>