

    <div class="top-bar">
        <div class="top-bar-left">
            <img id="logo" src="../public/imgs/logo.png">
            <div class="title">
                <p>Better Brains</p>
            </div>
        </div>
        <div class="top-bar-right">
            <a href="">Login</a>
            <a href="">Sign Up</a>
        </div>
    </div>
    <div class="container">

        <form  action="/api/tutors" method="GET" >
            <div class="input-group input-group-rounded">
                <input id="subject" class="input-group-field" type="search" name="subject" placeholder="Enter a subject (ie. Math)">
                <select id="selectMenu" >
                    <option value="college">College</option>
                    <option value="high">High School</option>
                    <option value="middle">Middle School</option>
                </select>
                <div class="input-group-button">
                    <input id="search"type="submit" class="button secondary" value="Search">
                </div>
            </div>
        </form>

    </div>
    <div class="footer">
        <div class="footer-links" id="api-links">
            <h4>API Links</h4>
            <a href="">Tutors</a>
            <a href="">Students</a>
        </div>
        <div class="footer-links" id="created-by">
            <h4>Created By:</h4>
            <a href="https://github.com/prestonedwards3">Preston</a>
            <a href="https://github.com/medwasfy">Med</a>
            <a href="https://github.com/smpldvd">David</a>
            <a href="https://github.com/RajBommala">Raj</a>
            <a href="https://github.com/jscottwillems">Josh</a>
            <a href="https://github.com/mel177">Melinh</a>
        </div>
        <hr>
        <p id="copy">&copy;Copyright 2018 Better Brains</p>
    </div>

  
