 {{> navbar}}

<div class="container">
  <br><br><br>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
         <div class="row">
          <div class="col s12">
            <button class="btn waves-effect waves-light" type="submit" name="action" id="log_in_btn">Log In
                <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <a href="/register" class="waves-effect waves-light btn-large">Register</a>
            <a href="/auth/twitter" class="waves-effect waves-light btn-large"><i class="fa fa-twitter" aria-hidden="true"></i> Log in with Twitter</a>
            <a href="/auth/facebook" class="waves-effect waves-light btn-large"><i class="fa fa-facebook" aria-hidden="true"></i> Log in with Facebook</a>
          </div>
        </div>

      </div>
    </form>
  </div>
</div>


<script src="public/js/login.js" type="text/javascript"></script>