<div class="container">

    <!-- Profile information will be displayed here  -->
    <!-- Use JS to determine if user is tutor or student
        then using handlebars, display the appropriate partial  -->

</div>