<div class="cardContainer">
    <div class="sideBar">
        <a class="sideLink" href="">Back To Seach</a>
        <br>
        <a class="sideLink" href="">Profile Page</a>
        <br>
        <a class="sideLink" href="">Messages</a>
    </div>
    <!-- Tutor cards will be displayed here -->
    {{#each tutor}} {{> tutors/tutors-card}} {{/each}}



</div>