<div class="top-bar">
    <div class="top-bar-left">
        <img id="logo" src="./assets/img/logo.png" alt="Home Logo">
        <div class="title">
            <p>Better Brains</p>
        </div>
    </div>
    <!-- Tutor cards will be displayed here -->
    {{#each tutor}} {{> tutors/tutors-card}} {{/each}}



</div>

<main class="display">
    <!-- Tutor cards will be displayed here -->
    <div class="cardContainer">
        {{#each tutor}} {{> tutors/tutors-card}} {{/each}}
    </div>

</main>


<footer class="grid-container full">
    <div class="grid-x grid-padding-x">
        <div class="cell auto">
            <div class="footer-links" id="api-links">
                <h4>API Links</h4>
                <a href="">Tutors</a>
                <a href="">Students</a>
            </div>
        </div>
        <div class="cell auto">
            <div class="footer-links" id="created-by">
                <h4>Created By:</h4>
                <a href="https://github.com/prestonedwards3" target="blank">Preston</a>
                <a href="https://github.com/medwasfy" target="blank">Med</a>
                <a href="https://github.com/smpldvd" target="blank">David</a>
                <a href="https://github.com/RajBommala" target="blank">Raj</a>
                <a href="https://github.com/jscottwillems" target="blank">Josh</a>
                <a href="https://github.com/mel177" target="blank">Melinh</a>
            </div>
        </div>
    </div>
    <hr>
    <div class="grid-x grid-padding-x">
        <div class="cell">
            <p id="copy">&copy;Copyright 2018 Better Brains</p>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.0-rc.2/dist/js/foundation.min.js" integrity="sha256-G6jsRyH1fxbsvFIXSCuwYmI1aIDYBa28xscrvmYjJy0= sha384-vtoG68NvPc9azmFJr447vvY8qgdyA4FdaJ5/bqvzIM4eAdZfO0iyRRF8l2AAscYI sha512-43seCcNrHA0BQgrtyajB9sp8yOdv5c8QdYvgjP7zJ7v+dmzAcxYDQ2gupb9aztsNWBq1COIp/3NHYkQs4l/dkg=="
    crossorigin="anonymous"></script>
<script src="./assets/js/index.js" type="text/javascript"></script>
<script src="./assets/js/modal.js" type="text/javascript"></script>