<div class="container">

    <!-- display profile content here -->


<main class="grid-container">
    <div class="profile">
        <div class="card photo">
            <img src="./assets/img/student.jpg" alt="profile" width="150px" style="margin-bottom: -50px">
            <button class="photo-btn" style="width: 35px">+</button>
            <h5>Jim Neutron</h5>
        </div>
    </div>
    <div class="bio">
        <div class="card">
            <div class="grid-x">
                <div class="cell shrink text-right">
                    <h6>Bio:</h6>
                </div>
                <div class="cell auto text-left">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod praesentium perspiciatis quos possimus
                        animi explicabo impedit culpa ipsam dolorem a, exercitationem ad odit est et minima, ex nesciunt
                        optio cum.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="calendar">
        <div class="card">
            <div class="card-section">
                <div class="calendar">

                    <header>

                        <h2>September</h2>

                        <a class="btn-prev fontawesome-angle-left" href="#"></a>
                        <a class="btn-next fontawesome-angle-right" href="#"></a>

                    </header>

                    <table>

                        <thead>

                            <tr>

                                <td>Mo</td>
                                <td>Tu</td>
                                <td>We</td>
                                <td>Th</td>
                                <td>Fr</td>
                                <td>Sa</td>
                                <td>Su</td>

                            </tr>

                        </thead>

                        <tbody>

                            <tr>
                                <td class="prev-month">30</td>
                                <td class="prev-month">31</td>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td>10</td>
                                <td>11</td>
                                <td>12</td>
                            </tr>
                            <tr>
                                <td>13</td>
                                <td class="event">14</td>
                                <td>15</td>
                                <td>16</td>
                                <td>17</td>
                                <td>18</td>
                                <td>19</td>
                            </tr>
                            <tr>
                                <td>20</td>
                                <td>21</td>
                                <td>22</td>
                                <td>23</td>
                                <td>24</td>
                                <td class="current-day event">25</td>
                                <td>26</td>
                            </tr>

                            <tr>
                                <td class="event">23</td>
                                <td>27</td>
                                <td>28</td>
                                <td>29</td>
                                <td>30</td>
                                <td>31</td>
                                <td class="next-month">1</td>
                            </tr>
                            <tr>
                                <td class="next-month">2</td>
                                <td class="next-month">3</td>
                                <td class="next-month">4</td>
                                <td class="next-month">5</td>
                                <td class="next-month">6</td>
                                <td class="next-month">7</td>
                                <td class="next-month">8</td>
                            </tr>

                        </tbody>

                    </table>

                </div> <!-- end calendar -->
            </div>
        </div>
    </div>
    <div class="message">
        <div class="card">
            <div class="card-section" id="emailList">
                <div class="email-list">
                    <div class="email-list-item email-list-item--unread">
                        <div class="email-list-actions">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input"><span class="custom-control-label"></span>
                            </label><a href="#" class="favorite active"><span class="mdi mdi-star"></span></a>
                        </div>
                        <div class="email-list-detail"><span class="date float-right"><i class="icon mdi mdi-attachment-alt"></i>
                                28 Jul</span><span class="from">Penelope Thornton</span>
                            <p class="msg">Urgent - You forgot your keys in the class room, please come imediatly!</p>
                        </div>
                    </div>
                    <div class="email-list-item email-list-item--unread">
                        <div class="email-list-actions">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input"><span class="custom-control-label"></span>
                            </label><a href="#" class="favorite"><span class="mdi mdi-star"></span></a>
                        </div>
                        <div class="email-list-detail"><span class="date float-right"></span><span class="date float-right"><i
                                    class="icon mdi mdi-attachment-alt"></i> 13 Jul</span><span class="from">Benji Harper
                            </span>
                            <p class="msg">Urgent - You forgot your keys in the class room, please come imediatly!</p>
                        </div>
                    </div>
                    <div class="email-list-item">
                        <div class="email-list-actions">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input"><span class="custom-control-label"></span>
                            </label><a href="#" class="favorite"><span class="mdi mdi-star"></span></a>
                        </div>
                        <div class="email-list-detail"><span class="date float-right">23 Jun</span><span class="from">Justine
                                Myranda
                            </span>
                            <p class="msg">Urgent - You forgot your keys in the class room, please come imediatly!</p>
                        </div>
                    </div>
                    <div class="email-list-item">
                        <div class="email-list-actions">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input"><span class="custom-control-label"></span>
                            </label><a href="#" class="favorite"><span class="mdi mdi-star"></span></a>
                        </div>
                        <div class="email-list-detail"><span class="date float-right">17 May</span><span class="from">John
                                Doe
                            </span>
                            <p class="msg">Urgent - You forgot your keys in the class room, please come imediatly!</p>
                        </div>
                    </div>
                    <div class="email-list-item">
                        <div class="email-list-actions">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input"><span class="custom-control-label"></span>
                            </label><a href="#" class="favorite"><span class="mdi mdi-star"></span></a>
                        </div>
                        <div class="email-list-detail"><span class="date float-right">16 May</span><span class="from">Sherwood
                                Clifford
                            </span>
                            <p class="msg">Urgent - You forgot your keys in the class room, please come imediatly!</p>
                        </div>
                    </div>
                    <div class="email-list-item">
                        <div class="email-list-actions">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input"><span class="custom-control-label"></span>
                            </label><a href="#" class="favorite"><span class="mdi mdi-star"></span></a>
                        </div>
                        <div class="email-list-detail"><span class="date float-right">12 May</span><span class="from">Kristopher
                                Donny
                            </span>
                            <p class="msg">Urgent - You forgot your keys in the class room, please come imediatly!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="note">
        <div class="card">
            <div class="card-section">
                <p>Notes: </p>
            </div>
        </div>
    </div>
</main>



<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.0-rc.2/dist/js/foundation.min.js" integrity="sha256-G6jsRyH1fxbsvFIXSCuwYmI1aIDYBa28xscrvmYjJy0="
    crossorigin="anonymous"></script>
<script src="./assets/js/tutor.js"></script>
<script src="./assets/js/modal.js"></script>
<script>$(document).foundation();</script>
</div>