<div class="container">
    <div class="profileSideBar">
        <a class="sideLink" href="/">Back To Seach</a>
        <br>
        <a class="sideLink" href="/tutors/josh123">Profile Page</a>
        <br>
        <a class="sideLink" href="">FAQs</a>
    </div>

    <div class="profile">

        <div class="profile-img">
            <img src={{tutor.photo}} alt="profile">
            <h2>{{tutor.name}}</h2>
        </div>
        <br>

        <div class="bio">
            <h3>Bio</h3>
            <hr>
            <p>{{tutor.bio}}</p>
        </div>

        <div class="calendar">
            <header>
                <h3>August</h3>
                <a class="btn-prev fontawesome-angle-left" href="#"></a>
                <a class="btn-next fontawesome-angle-right" href="#"></a>
            </header>

            <table>

                <thead>
                    <tr>
                        <td>Mo</td>
                        <td>Tu</td>
                        <td>We</td>
                        <td>Th</td>
                        <td>Fr</td>
                        <td>Sa</td>
                        <td>Su</td>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td class="prev-month">30</td>
                        <td class="prev-month">31</td>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>7</td>
                        <td>8</td>
                        <td>9</td>
                        <td>10</td>
                        <td>11</td>
                        <td>12</td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td class="event">14</td>
                        <td>15</td>
                        <td>16</td>
                        <td>17</td>
                        <td>18</td>
                        <td>19</td>
                    </tr>
                    <tr>
                        <td>20</td>
                        <td>21</td>
                        <td>22</td>
                        <td>23</td>
                        <td>24</td>
                        <td class="current-day event">25</td>
                        <td>26</td>
                    </tr>
                    <tr>
                        <td class="event">23</td>
                        <td>27</td>
                        <td>28</td>
                        <td>29</td>
                        <td>30</td>
                        <td>31</td>
                        <td class="next-month">1</td>
                    </tr>
                    <tr>
                        <td class="next-month">2</td>
                        <td class="next-month">3</td>
                        <td class="next-month">4</td>
                        <td class="next-month">5</td>
                        <td class="next-month">6</td>
                        <td class="next-month">7</td>
                        <td class="next-month">8</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- end calendar -->
        <div class="messages">
            <div class="message-head">
                <h3>Messages</h3>
                <hr>
            </div>

            {{#each message}} {{> messages/message-card}} {{/each}}

        </div>

    </div>

</div>