
    {{#each tutor}}
        
            <div class="card">
                <img src="tutoravi.png" alt="tutor"  class="tutoravi">
                <h1>{{this.tutorName}}</h1>
                <p class="title">{{this.tutorSub}}</p>
                <p>{{this.bio}}</p>
                <p>{{this.rating}}</p>
                <p><button class="contact">Contact</button></p>
            </div>
        
    {{/each}}
