
    {{#each tutor}}
        
            <div class="card">
                <img src="tutoravi.png" alt="tutor"  class="tutoravi">
                <h1>{{this.name}}</h1>
                <p class="title">{{this.subjects}}</p>
                <p>{{this.bio}}</p>
                <p>{{this.ratings}}</p>
                <p><button class="contact">Contact</button></p>
            </div>
        
    {{/each}}
