@-ms-viewport {
  width: device-width; }

@media screen and (max-width: 576px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 991.98px) {
}

@media screen and (min-width: 992px) {
}

.list-group-item {
  line-height: 2.5;
}

body {
  background: url("../img/background.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: 'Fine';
}

body main.grid-container {
  background-color: #080f41bb;
  max-width: 1100px;
  max-height: 100%;
  margin: 20px auto;
  font-family: Arial, Helvetica, sans-serif;
}

main.grid-container {
  padding: 20px 20px;
}

/* Style the button and place it in the middle of the container/image */
main div.photo .photo-btn {
  transform: translate(5%, 0%);
  -ms-transform: translate(5%, 0%);
  background-color: rgba(85, 85, 85, 0.3);
  color: white;
  font-size: 16px;
  padding: 12px 12px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 100px;
}

main div.photo .photo-btn:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

main div.profile div.card {
  padding: 10px 20px;
  height: 200px;
}

main div.bio div.card {
  height: 200px;
  margin-left: 20px;
  padding: 10px 20px;
}
div.message {
  margin-right: 10px;
}

div.message #emailList {
  height: 420px;
  overflow: scroll;
}

div.note .card {
  height: 420px;
  margin-left: 10px;
}

main div.nested {
  padding: 0;
}

main div.nested h6 {
  color: #f1f1f1;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main div.nested p {
  color: #f1f1f1;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main div.nested li {
  color: #f1f1f1;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main div.shrink {
  margin-right: 5px;
}


footer {
  text-align: center;
  padding: 20px 0;
  margin-bottom: 0px;
  color: white;
  background: #1b1b1bf5;
}

.footer-links {
  margin: 30px;
}

footer a {
  text-align: center;
  display: inline-block;
  border-right: solid 1.5px;
  padding-right: 10px;
  padding-left: 5px;
  color: #fdc15b;
}

footer a:hover {
  color: #ce913c;
}

footer a:last-child {
  border-right: none;
}

main div.cell {
  padding: 5px;
}

/* ---- NavBar ---- */
.top-bar {
  background: #43664b;
  height: 110px;
  z-index: 999;
}

.top-bar-left {
  margin-left: 50px;
}

#logo {
  height: 80px;
  float: left;
  margin-right: 10px;
  margin-top: 20px;
  -webkit-filter: drop-shadow(2px 2px 2px #202020b4);
  filter: drop-shadow(2px 2px 2px #202020b4);
}

.title {
  color: #ffb751;
  font-family: 'Title';
  font-size: 72px;
  text-shadow: 4px 4px #202020b4;
}

.top-bar-right {
  margin-right: 50px;
}

.top-bar-right a {
  color: #fdc15b;
}

.top-bar-right a:hover {
  color: #ce913c;
}

#stu-signupBtn {
  border-left: solid 2px;
  padding-left: 5px;
}

#tut-signupBtn {
  border-left: solid 2px;
  padding-left: 5px;
}

.top-bar-right i {
  padding: 0 10px;
  color: #fdc15b;
}

.modal {
  display: none;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background: #f1f1f1;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  border: 1px solid #888;
  width: 613px;
}

.close {
  color: #aaa;
  float: right;
  margin-right: 15px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

main.display {
  text-align: center;
  height: 71vh;
  padding-top: 250px;
}

#sendBtn {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.tutor-card {
  background: #f1f1f1f1;
  padding: 30px;
  width: 65%;
  height: 175px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border: 1px solid #888;
  box-shadow: 4px 4px #202020b4;
  display: block;
}

.img-card {
  display: block;
  width: 10%;
  text-align: center;
  float: left;
  margin-top: -3px;
}

.tutor-img {
  width: 100%;
  box-shadow: 2px 2px #202020b4;
  margin-bottom: 3px;
}

.subjects {
  padding-right: 30px;
  border-right: 1px solid #888;
  float: left;
  margin-left: 20px;
  text-align: left;
  font-size: .9em;
  height: 116.8px;
}

.about {
  width: 45%;
  height: 116.8px;
  margin-left: 50px;
  padding-right: 30px;
  float: left;
  border-right: 1px solid #888;
  text-align: left;
  font-size: .9em;
}

.rating {
  text-align: center;
  float: left;
  border-right: 1px solid #888;
  width: 10%;
  height: 116.8px;
  font-size: .9em;
}

.messageHead {
  font-size: 24px;
}

#messageBox {
  text-align: left;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

#messageHR {
  width: 80%;
}

#messageBtn {
  width: 8%;
  height: 50px;
  padding: 3px;
  float: left;
  margin-top: 30px;
  margin-left: 50px;
  font-size: .8em;
}

.messageContainer {
  background: #f1f1f1;
}

.loginContainer {
  height: 350px;
  text-align: center;
  padding: 5px;
}

.sub-text {
  font-family: 'Fine';
  color: #ffb751;
  font-size: 30px;
  text-shadow: 2px 2px #202020;
  margin-bottom: 20px;
}

form {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

.input-group {
  max-width: 600px;
}

#selectMenu {
  max-width: 130px;
}

.input-group-rounded .input-group-field {
  border-radius: 5000px 0 0 5000px;
  padding-left: 1rem;
}

.input-group-rounded .input-group-button .button {
  border-radius: 0 5000px 5000px 0;
  height: 2.4375rem;
  font-size: 0.9rem;
  background: #43664b;
}

.input-group-rounded .input-group-button .button:hover {
  background: #253829;
}

#copy {
  margin-top: 20px;
}

@font-face {
  font-family: 'Title';
  src: url(../fonts/title.ttf) format('truetype');
}

@font-face {
  font-family: 'Sub';
  src: url(../fonts/subtext.ttf) format('truetype');
}

@font-face {
  font-family: 'Fine';
  src: url(../fonts/fineness.ttf) format('truetype');
}

input[type=text],
input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity: 1;
}

/* Extra styles for the cancel button */

.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */

.cancelbtn,
.signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */

.formContainer {
  padding: 16px;
  text-align: center;
}

/* Clear floats */

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Bordered form */

#loginForm {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */

#loginForm input[type=text],
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */

#loginForm button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */

#login Form button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */

#loginForm .cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */

#loginForm .imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */

#loginForm img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */

#loginForm .container {
  padding: 16px;
}

/* The "Forgot password" text */

#loginForm span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 300px) {
  #loginForm span.psw {
    display: block;
    float: none;
  }
  #loginForm .cancelbtn {
    width: 100%;
  }
}